In [50]:
import pandas as pd 
import numpy as np 
ratings=pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/ratings_small.csv')
movies=pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/movies_metadata.csv')
ratings.drop(['timestamp'], axis=1, inplace=True)

/Users/parisahojjatnia/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [51]:
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [52]:
movies=movies.rename(columns={'id':'movieId'})

In [53]:
movies.drop(['video','adult',
       'vote_average', 'vote_count','belongs_to_collection', 'budget','homepage','imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline','video',
       'vote_average', 'vote_count'], axis=1, inplace=True)

In [54]:
movies.head()

,genres,movieId,title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II

In [55]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 3 columns):
userId     100004 non-null int64
movieId    100004 non-null int64
rating     100004 non-null float64
dtypes: float64(1), int64(2)
memory usage: 2.3 MB

In [56]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 3 columns):
genres     45466 non-null object
movieId    45466 non-null object
title      45460 non-null object
dtypes: object(3)
memory usage: 1.0+ MB

In [57]:
mean = ratings.groupby(by="userId",as_index=False)['rating'].mean()

In [58]:
rating_avg = pd.merge(ratings,mean,on='userId')

In [59]:
rating_avg['adg_rating']=rating_avg['rating_x']-rating_avg['rating_y']

In [60]:
rating_avg.head()

   userId  movieId  rating_x  rating_y  adg_rating
0       1       31       2.5      2.55       -0.05
1       1     1029       3.0      2.55        0.45
2       1     1061       3.0      2.55        0.45
3       1     1129       2.0      2.55       -0.55
4       1     1172       4.0      2.55        1.45

In [61]:
from surprise import Reader , Dataset , SVD 
from surprise.model_selection import cross_validate

In [62]:
reader= Reader()
ratings= pd.read_csv('/Users/parisahojjatnia/Documents/Python/Capstone_Project2/Movie_Data/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [68]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [66]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.8965  0.8941  0.8801  0.8951  0.8819  0.8950  0.8897  0.8899  0.8981  0.9005  0.8921  0.0064
MAE (testset)     0.6861  0.6902  0.6788  0.6891  0.6758  0.6885  0.6835  0.6838  0.6883  0.6968  0.6861  0.0057
Fit time          5.08    5.10    5.43    5.18    5.96    5.41    5.06    5.28    5.06    5.29    5.29    0.26
Test time         0.06    0.06    0.06    0.06    0.06    0.15    0.06    0.07    0.06    0.07    0.07    0.03

{'test_rmse': array([0.89649129, 0.89413211, 0.88008143, 0.89512739, 0.88187759,
        0.89504651, 0.88966763, 0.88987708, 0.89813005, 0.90051514]),
 'test_mae': array([0.68613815, 0.69018893, 0.67881808, 0.68910299, 0.67584207,
        0.68848939, 0.68350556, 0.68380858, 0.68830383, 0.69684542]),
 'fit_time': (5.08107590675354,
  5.095731973648071,
  5.434577226638794,
  5.18330192565918,
  5.957551956176758,
  5.414885759353638,
  5.064907073974609,
  5.276180028915405,
  5.059218168258667,
  5.285635948181152),
 'test_time': (0.06341314315795898,
  0.059706926345825195,
  0.06003713607788086,
  0.05786299705505371,
  0.05990242958068848,
  0.1483440399169922,
  0.061405181884765625,
  0.06548213958740234,
  0.05972790718078613,
  0.07342720031738281)}

In [79]:
svd.predict(1, 6268, 3)

Prediction(uid=1, iid=6268, r_ui=3, est=2.63604519194838, details={'was_impossible': False})

In [72]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8930  0.8936  0.8999  0.9079  0.8892  0.8967  0.0066
MAE (testset)     0.6901  0.6889  0.6897  0.6982  0.6851  0.6904  0.0043
Fit time          4.52    4.53    4.58    4.59    4.53    4.55    0.03
Test time         0.12    0.27    0.12    0.22    0.12    0.17    0.06

{'test_rmse': array([0.89299147, 0.89362481, 0.89987776, 0.9079179 , 0.88922866]),
 'test_mae': array([0.6900783 , 0.68890155, 0.68965967, 0.69820492, 0.68507852]),
 'fit_time': (4.516819000244141,
  4.525574207305908,
  4.5824689865112305,
  4.592904090881348,
  4.528734922409058),
 'test_time': (0.12079787254333496,
  0.27460193634033203,
  0.12044572830200195,
  0.2158679962158203,
  0.11978292465209961)}

In [78]:
ratings[ratings['userId'] == 671]

        userId  movieId  rating   timestamp
99889      671        1     5.0  1064891129
99890      671       36     4.0  1065149314
99891      671       50     4.5  1064890944
99892      671      230     4.0  1064890230
99893      671      260     5.0  1064891246
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[115 rows x 4 columns]

In [77]:
ratings.tail()

        userId  movieId  rating   timestamp
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724